.fbmenu ul li:hover, .widget_netlabs_calendaru_widget .dateslip{
	background: #688FB7;
}

.announce, .tagline p.thislink{
	background: url(blue/fdot.png) no-repeat center;
}

.tagline p.thislink	a{
	color: #fff;
}

.fbmenu ul li:hover a{
	color: #373737;
	text-shadow: none;
}

.tagline p.thislink	a{
	color: #fff;
}

.fppostli a, .timermore:hover{
	color: #688FB7;
	text-decoration: none;
	float: right;
}

.singletweet_widget p a, .singletweet_widget .fbm a, a{
	color: #688FB7;
	text-decoration: none;
}


