.fbmenu ul li:hover, .widget_netlabs_calendaru_widget .dateslip{
	background: #7D8B18;
}

.announce, .tagline p.thislink{
	background: url(green/fdot.png) no-repeat center;
}

.tagline p.thislink	a{
	color: #fff;
}

.fbmenu ul li:hover a{
	color: #373737;
	text-shadow: none;
}

.tagline p.thislink	a{
	color: #fff;
}

.fppostli a, .timermore:hover{
	color: #7D8B18;
	text-decoration: none;
	float: right;
}

.singletweet_widget p a, .singletweet_widget .fbm a, a{
	color: #7D8B18;
	text-decoration: none;
}


